.titulo {
    background-color: #e1edf2;
    padding: 10px;
}

.subtitulo {
    border-bottom: 2px solid black;
}

h3 {
    border-bottom: 2px solid black;
    text-align: left;
    font-size: 24px;
}

body {
    font-family: Helvetica;
    margin-left: 150px;
    margin-right: 150px;

}

figure {
    text-align: center;
    margin: 30px;
    padding: 15px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

figcaption {
    margin-top: 10px;
}

.matriz-musicdot {
    text-align: center;
    width: 550px;
    margin: auto;
}

.familia-tupfeln {
    width: 275px;
    float: right;
}

p {
    font-size: 22px;
    text-align: justify;
    margin: 15px;
    padding: 15px;
}

figure img {
    width: 70%;
}

ul {
    font-size: 22px;
}

.contato__secao {

}

.contato__secao--telefone {

}

.contato__subtitulo {
    display: inline;
}

.contato__info {
    margin: 16px 0 24px;
    padding-left: 32px;

}

.contato__info--titulo {

}

.contato__info--descricao {

}