h1 {
    color: #3D3D3D;
    background-color: #e1edf2;
    margin: 30px;

}

h2 {
    border-bottom: 2px solid black;
}

h3 {
    text-align: center;
    color: cyan;
    font-size: 50px;
    font-family: Arial;
}

body {
    font-family: Helvetica;

}

figure {
    text-align: center;
    margin: 30px;
    padding: 15px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

figcaption {
    margin-top: 10px;
}

.matriz-musicdot {
    text-align: center;
    width: 550px;
    margin: auto;
}

.familia-tupfeln {
    width: 275px;
    float: right;
}
p{
    font-size: 25px;
    text-align: justify;
    margin: 15px;
    padding: 15px;
}
figure img {
    width: 100%;
}
ul{
    font-size: 25px;
}